@charset "UTF-8";

TABLE {
    border:1px solid #808080;
    margin:8px;
}
TH {
    background-color: #eeeeee;
    cursor: pointer;
    text-align: left;
}

TH, TD {
    padding: 8px 8px 8px 20px;
}

TH:hover {
    background-color: #ddddff;
}

TD {
    border-bottom: 1px solid #dddddd;
}
TR:last-child TD {
    border-bottom: none;
}

TD:hover {
    background-color: #eeeeee;
}

.sort {
    background-color: cyan;
}

.sort::after {
    display: block;
    position: absolute;
    margin-left: -16px;
    margin-top: -17px;
    color: #808080;
    content: "▲";
}

.sort.rev {
    background-color: cyan;
}

.sort.rev::after {
    content: "▼";
}
